@import '../../../../styles/variables';

.everythingYouNeed {
  display: grid;
  text-align: center;
  justify-content: center;

  h2 {
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    color: #333333;
  }

  .divBox {
    display: grid;
    justify-content: space-evenly;

    .divSon {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .text {
        width: 200px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #333333;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #666666;
        }
      }
    }

    a {
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      color: #4b9fe1;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

@include mobileview {
  .everythingYouNeed {
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 50px 15px 0px 15px;

    h2 {
      font-size: $h2Mobile;
      line-height: unset;
    }

    .divBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;

      .divSon {
        display: grid;
        padding: 20px 0;

        .text {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      }

      a {
        margin-bottom: 20px;
      }
    }
  }
}

@include tabletview {
  .everythingYouNeed {
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 50px 50px 0 50px;
    gap: 25px;

    h2 {
      font-size: $h2Tablet;
    }

    .divBox,
    .divSon {
      width: calc(100vw - 100px);
    }

    .divSon {
      margin-bottom: 25px;
      
      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@include notebookview {
  .everythingYouNeed {
    h2 {
      font-size: $h2Notebook;
    }

    h2,
    .divBox,
    .divSon {
      max-width: 900px;
    }
    
    .divBox {
      .divSon {
        justify-content: space-between;
        margin-bottom: 50px;
      }
    }
  }
}
