@import "../../styles/variables";

.boxCatalog {
    padding: 50px;

    .catalogHeader {
        display: flex;
        justify-content: space-between;

        .heading {
            width: 45%;
            display: grid;
            gap: 35px;
        }

        .values {
            width: 45%;
            justify-content: end;

            .box {
                display: flex;
                justify-content: end;

                &.timers {
                    display: grid;
                    text-align: end;
                }
            }
        }
    }
}