@import '../../../../styles/variables';

.notebookSection {
  .divBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      h2 {
        line-height: 39px;
        font-weight: 700;
        color: #4d4d4d;
      }

      p {
        font-weight: 500;
        line-height: 22px;
        color: #666666;
      }

      a {
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: #4b9fe1;
        text-decoration: none;
      }
    }
  }
}

@include mobileview {
  .notebookSection {
    padding: 50px 15px 0px 15px;

    .divBox {
      display: grid;
      gap: 15px;

      .text {
        display: grid;
        gap: 20px;

        h2 {
          font-size: $h2Mobile;
          line-height: unset;
        }
      }

      .text,
      .img {
        width: auto;
        text-align: center;
      }

      .img {
        margin-top: 25px;

        .notebookHome {
          width: 90%;
        }
      }
    }
  }
}

@include tabletview {
  .notebookSection {
    padding: 50px;

    .divBox {
      .text {
        width: 50%;
        display: grid;
        gap: 20px;

        h2 {
          font-size: $h2Tablet;
        }

        p {
          font-size: 18px;
        }
      }

      .img {
        width: 50%;

        .notebookHome {
          width: 450px;
        }
      }
    }
  }
}

@include notebookview {
  .notebookSection {
    display: flex;
    justify-content: center;
    
    .divBox {
      max-width: 900px;
      width: 100%;

      .text {
        h2 {
          font-size: $h2Notebook;
        }

        p {
          font-size: 18px;
        }

        a {
          font-size: 18px;
        }
      }
    }
  }
}
