@import '../../../../styles/variables';

.simpleScheduling {
  background: #4b9fe1;
  width: 100%;
  height: 440px;

  .divBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .text {
      width: 300px;

      h2 {
        font-weight: 700;
        line-height: 39px;
        color: #ffffff;
      }

      p {
        font-weight: 500;
        line-height: 20px;
        color: #f5f5f5;
      }

      a {
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

@include mobileview {
  .simpleScheduling {
    height: unset;
    .divBox {
      display: grid;
      justify-content: space-between;

      .text {
        display: grid;
        width: auto;
        padding: 0 10px;
        text-align: center;
        margin-top: 25px;
        padding: 0 15px;
        gap: 20px;

        h2 {
          line-height: unset;
          font-size: $h2Mobile;
        }
      }

      .img {
        margin-top: 25px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include tabletview {
  .simpleScheduling {
    height: 40%;

    .divBox {
      .divSon {
        display: flex;
        justify-content: space-around;
        width: 90%;
      }

      .text {
        padding-left: 50px;
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        h2 {
          font-size: calc($h2Tablet - 1px );
        }
      }

      .img {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include notebookview {
  .simpleScheduling {
    background: #4b9fe1;
    height: auto;

    .divBox {
      justify-content: end;

      .text {
        gap: 25px;
        max-width: 490px;
        margin-right: 10px;

        h2 {
          font-size: 32px;
          margin-bottom: 0;
        }

        p {
          font-size: 16px;
        }

        a {
          font-size: 18px;
        }
      }
    }
  }
}

@include desktopview {
  .simpleScheduling {
    height: 502px;

    .divBox {
      .text {
        margin-left: 15%;
      }
    }
  }
}
