@import '../../../../styles/variables';

.whatSchedule {
  .divBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      width: 300px;

      h2 {
        line-height: 39px;
        font-weight: 700;
        color: #4d4d4d;
      }

      p {
        font-weight: 500;
        line-height: 20px;
        color: #666666;
      }
    }
  }
}

@include mobileview {
  .whatSchedule {
    padding: 50px 15px 0px 15px;

    .divBox {
      display: flex;
      flex-direction: column-reverse;

      .text {
        display: grid;
        gap: 15px;
        
        h2 {
          font-size: $h2Mobile;
          margin-bottom: 10px;
        }
      }

      .text,
      .img {
        width: auto;
        text-align: center;
      }

      .img {
        margin-top: 25px;

        .meetingHome {
          width: 90%;
        }
      }
    }
  }
}

@include tabletview {
  .whatSchedule {
    padding: 50px 50px 0 50px;
    
    .divBox {
      .text,
      .img {
        width: 50%;
      }

      .img {
        .meetingHome {
          width: 95%;
        }
      }

      .text {
        h2 {
          font-size: $h2Tablet;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@include notebookview {
  .whatSchedule {
    display: flex;
    justify-content: center;

    .divBox {
      width: 100%;
      max-width: 900px;

      .text {

        h2 {
          font-size: $h2Notebook;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}
