@import '../../../../styles/variables';

.ourClients {
  background: #f5f5f5;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    color: #333333;
  }

  .divBox {
    display: flex;
    justify-content: space-between;
  }
}

@include mobileview {
  .ourClients {
    padding: 50px 15px 15px 15px;
    display: grid;
    gap: 25px;

    h2 {
      font-size: $h2Mobile;
      line-height: unset;
    }

    .divBox {
      display: grid;
      justify-content: center;
    }
  }
}

@include tabletview {
  .ourClients {
    padding: 50px 50px 50px 50px;

    h2 {
      font-size: $h2Tablet;
    }

    .divBox {
      display: flex;
      justify-content: center;

      .divSon {
        display: flex;
        justify-content: space-around;
        width: 90%;
        .text {
          img {
            width: 80%;
          }
        }
      }
    }
  }
}

@include notebookview {
  .ourClients {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      font-size: $h2Notebook;
    }

    h2,
    .divBox {
      max-width: 900px;
      width: 100%;
    }

    .divBox {
      .divSon {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .ourClients {
    height: 250px;

    h2 {
      font-size: 32px;
    }

    .divBox {
      .divSon {
        .text {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
